{{#slds-control-identity as |formElementId|}}
  {{#if isRequired}}
    <abbr class="slds-required" title="required">*</abbr>
  {{/if}}
  <input 
    type="checkbox" 
    name={{name}} 
    id={{formElementId}} 
    checked={{isChecked}} 
    disabled={{isDisabled}} 
    onclick={{checked}} 
    aria-describedby={{if isError errorElementId}}/>
  <label class="slds-checkbox__label" for={{formElementId}}>
    <span class="slds-checkbox--faux"></span>
    <span class="slds-form-element__label">{{label}}</span>
  </label>
{{/slds-control-identity}}