<select onchange={{action 'selectedOptionChanged' value="target.value"}} class="slds-select" id={{formElementId}}>
  <option value="">{{prompt}}</option>

  {{!-- selected={{eq vehicle vehicleChoice}} --}}

  {{#each selectableOptions as |option|}}
    <option value={{option.value}} selected={{option.isSelected}}>
      {{option.name}}
    </option>
  {{/each}}
</select>