{{lds-button-icon}}
{{lds-button-icon icon='user'}}
{{lds-button-icon icon='user' type='error'}}
{{lds-button-icon icon='warning' type='error'}}
{{lds-button-icon icon='warning' type='error' disabled=true}}

{{lds-button-icon icon='warning' type='error' size='large'}}


<button class="slds-button slds-button--icon" title="settings">
  <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
  </svg>
  <span class="slds-assistive-text">Settings</span>
</button>

<button class="slds-button slds-button--icon-border slds-is-selected" aria-live="assertive" title="Liked">
  <svg class="slds-button__icon" aria-hidden="true">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
  </svg>
  <span class="slds-assistive-text">Liked</span>
</button>