<div class="slds-grid slds-grid--pull-padded-medium slds-m-horizontal--x-small">
  <div class="slds-col slds-p-around--small">
    <div class="slds-box slds-box--small slds-theme--shade">
      <div class="slds-text-heading--large">Basic Inputs</div>
      {{#slds-control label='Required Field' isRequired=true as |control|}}
        {{control.input placeholder='placeholder text'}}
      {{/slds-control}}

      {{#slds-control label='Error Field' isRequired=true isError=true errorMessage='you forgot to select the doodat' as |control|}}
        {{control.input placeholder='placeholder text'}}
      {{/slds-control}}

      {{#slds-control label='Disabled Field' as |control|}}
        {{control.input placeholder='placeholder text' isDisabled=true}}
      {{/slds-control}}

      {{#slds-control label='Disabled Field' as |control|}}
        {{#control.input placeholder='placeholder text' as |input|}}
          {{input.icon}}
          {{input.input}}
          {{input.button}}
        {{/control.input}}
      {{/slds-control}}

      {{#slds-control label='Text Area' as |control|}}
        {{control.textarea placeholder='placeholder text'}}
      {{/slds-control}}

      {{#slds-control as |control|}}
        {{control.checkbox label='Awesome Check' isChecked=isAwesome checked=(action 'toggle' 'isAwesome')}}
      {{/slds-control}}

      {{#slds-control isRequired=true as |control|}}
        {{control.checkbox label='Awesome Check Required' isChecked=isAwesome checked=(action 'toggle' 'isAwesome')}}
      {{/slds-control}}

      {{#slds-control isRequired=true isError=true errorMessage='you goofed' as |control|}}
        {{control.checkbox label='Awesome Check Error' isChecked=isAwesome checked=(action 'toggle' 'isAwesome')}}
      {{/slds-control}}

      {{#slds-control-group isRequired=true legend='Choose your fate' name='fate' as |control|}}
        {{control.radio label="Butter" value='butter' selected=(action 'choose' 'butter')}}
        {{control.radio label="Batter" value='batter' selected=(action 'choose' 'batter')}}
        {{control.radio isDisabled=true label="Better" value='better' selected=(action 'choose' 'better')}}
      {{/slds-control-group}}
      
      {{#slds-control-group isRequired=true legend='Choose all your fates' name='fates' as |control|}}
        <div class="slds-checkbox_button-group">
          {{control.checkbox label='Cake' isChecked=cake checked=(action 'toggle' 'cake')}}
          {{control.checkbox label='Death' isChecked=death checked=(action 'toggle' 'death')}}
          {{control.checkbox label='Life' isDisabled=true isChecked=life checked=(action 'toggle' 'life')}}        
        </div>
      {{/slds-control-group}}

      {{#slds-control-group isRequired=true legend='Music' name='music' isError=true errorMessage='you forgot to select the doodat' as |control|}}
        {{control.radio label="Rock" value='rock' selected=(action 'chooseMusic' 'rock')}}
        {{control.radio label="Not Rock" value='notRock' selected=(action 'chooseMusic' 'notRock')}}
      {{/slds-control-group}}

      {{#slds-control-group isRequired=true legend='Games' name='games' isError=true errorMessage='you forgot to select the doodat' as |control|}}
        <div class="slds-checkbox_button-group">
          {{control.checkbox label='Chess' isChecked=chess checked=(action 'toggle' 'chess')}}
          {{control.checkbox label='Checkers' isChecked=checkers checked=(action 'toggle' 'checkers')}}
        </div>
      {{/slds-control-group}}

      {{#slds-control-group as |control|}}
        <div class="slds-radio_button-group">  
          {{control.radio-button label='Cats'}}
        </div>
      {{/slds-control-group}}
    </div>
  </div>
  <div class="slds-col slds-p-around--small">
    <div class="slds-box slds-box--small slds-theme--shade">

      <div class="slds-list--horizontal slds-wrap">
        <div class="slds-item--label slds-text-color--weak slds-truncate" title="isAwesome">Is Awesome</div>
        <div class="slds-item--detail slds-truncate">{{isAwesome}}</div>

        <div class="slds-item--label slds-text-color--weak slds-truncate" title="Fate">Fate</div>
        <div class="slds-item--detail slds-truncate">{{fate}}</div>

        <div class="slds-item--label slds-text-color--weak slds-truncate" title="Cake">Cake</div>
        <div class="slds-item--detail slds-truncate">{{cake}}</div>
        
        <div class="slds-item--label slds-text-color--weak slds-truncate" title="Death">Death</div>
        <div class="slds-item--detail slds-truncate">{{death}}</div>
      </div>
    </div>
  </div>
</div>