<button class="slds-button {{typeClass}}{{borderClass}}" title={{icon}} disabled={{disabled}} {{action 'clicked' clicked}}>
  <svg class="slds-button__icon{{sizeClass}}" aria-hidden="true">
    <use xlink:href="/assets/icons/{{sprite}}-sprite/svg/symbols.svg#{{icon}}"></use>
  </svg>
  <span class="slds-assistive-text">{{icon}}</span>
</button>