<div class="slds-dropdown-trigger slds-dropdown-trigger--click {{class}}{{openClass}}" aria-expanded="{{isOpen}}">
  {{lds-button-icon 
    disabled=disabled
    border='filled' 
    title='Show More' 
    icon='down'
    ariaHaspopup=true
    clicked=(action 'toggle')}}
  
  <div class="slds-dropdown{{positionClass}}">
    <ul class="slds-dropdown__list" role="menu">
      {{yield (hash 
        heading=(component 'lds-menu-heading')
        item=(component 'lds-menu-item' _clicked=(action 'clicked'))
        separator=(component 'lds-menu-separator'))}}
    </ul>
  </div>
</div>