<div class="slds-form-element slds-lookup {{displayClass}}">
  <label class="slds-assistive-text" for="{{lookupElementId}}">{{placeholder}}</label>
  <div class="slds-form-element__control lookup__search-control slds-input-has-icon slds-input-has-icon--left">
    <svg class="slds-input__icon" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
    </svg>
    {{input
      type="search" 
      id=lookupElementId
      class="slds-input slds-lookup__search-input"
      placeholder=placeholder
      focus-in=(action 'onFocusIn')
      focus-out=(action 'onFocusOut')}}
  </div>

<div class="slds-lookup__menu" id="lookup-65">
    <div class="slds-lookup__item--label slds-text-body--small">{{prompt}}</div>
    <ul class="slds-lookup__list" role="listbox">
      {{yield (hash item=(component 'lds-lookup-item') action=(component 'lds-lookup-action'))}}
    </ul>
  </div>
</div>