<div class="slds-dropdown-trigger slds-dropdown-trigger--click {{class}}{{openClass}}" aria-expanded="{{isOpen}}">
  {{lds-button-icon 
    disabled=disabled
    border='filled' 
    title='Show More' 
    icon='down'
    ariaHaspopup=true
    clicked=(action 'toggle')}}
  
  {{#lds-dropdown position=position clicked=(action 'clicked') as |dropdown|}}
    {{yield dropdown}}
  {{/lds-dropdown}}
</div>