<span class="slds-icon_container slds-icon-{{sprite}}-{{icon}}" title={{description}}>
  <svg class="slds-icon" aria-hidden="true">
    <use xlink:href="/assets/icons/{{sprite}}-sprite/svg/symbols.svg#{{icon}}"></use>
  </svg>
  {{#if description}}
    <span class="slds-assistive-text">{{description}}</span>
  {{/if}}
</span>