<span class="slds-icon_container {{backgroundClass}}" title={{description}}>
  <svg class="slds-icon {{colorClass}}" aria-hidden="true">
    <use xlink:href="/assets/icons/{{sprite}}-sprite/svg/symbols.svg#{{myIcon}}"></use>
  </svg>
  {{#if description}}
    <span class="slds-assistive-text">{{description}}</span>
  {{/if}}
</span>