<div class="slds-form-element__control">

  {{#if hasBlock}}

  {{else}}
    <input 
      disabled={{isDisabled}}
      required="{{isRequired}}"
      aria-describedby={{errorElementId}} 
      type="{{type}}" 
      id="{{formElementId}}" 
      class="slds-input" 
      placeholder={{placeholder}} />
  {{/if}}

</div>