<div class="slds-context-bar">
  <div class="slds-context-bar__primary slds-context-bar__item--divider-right">
    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click slds-no-hover">
      <div class="slds-context-bar__icon-action">
        <a {{action 'contextBarButtonClicked'}} class="slds-icon-waffle_container slds-context-bar__button">
          {{slds-icon-waffle}}
          <span class="slds-assistive-text">Open App Launcher</span>
        </a>
      </div>
      <span class="slds-context-bar__label-action slds-context-bar__app-name">
        <span class="slds-truncate" title={{applicationName}}>{{applicationName}}</span>
      </span>
    </div>
  </div>
  {{#component contextBarSecondaryComponent}}
    {{yield (hash
      item=(component 'slds-navigation-bar/item')
      menu=(component 'slds-navigation-bar/menu')
    )}}
  {{/component}}
</div>