<svg class="slds-icon{{colorClass}}{{sizeClass}}" aria-hidden="true">
  <use xlink:href="/assets/icons/{{sprite}}-sprite/svg/symbols.svg#{{iconWithDefaults}}"></use>
</svg>
{{#if description}}
  <span class="slds-assistive-text">{{description}}</span>
{{/if}}
