<li class="slds-progress__item{{stateClass}}">
  {{#if hasIcon}}
    {{slds-button-icon 
      sprite='utility' 
      icon=icon 
      title=text 
      ariaDescribedBy=text
      type='progress'
      clicked=clicked}}
  {{else}}
    <button class="slds-button slds-progress__marker" {{action clicked}} aria-describedby={{text}}>
      <span class="slds-assistive-text">{{text}}</span>
    </button>
  {{/if}}
</li>