<button 
  class="slds-button {{typeClass}}{{borderClass}}{{selectedClass}}" 
  title={{titleWithDefault}} 
  disabled={{disabled}}
  aria-haspopup="{{ariaHaspopup}}"
  aria-describedby={{ariaDescribedBy}}
  {{action 'clicked' clicked}}>
  <svg class="slds-button__icon{{sizeClass}}" aria-hidden="true">
    <use xlink:href="/assets/icons/{{sprite}}-sprite/svg/symbols.svg#{{icon}}"></use>
  </svg>
  <span class="slds-assistive-text">{{titleWithDefault}}</span>
</button>