<div class="slds-form-element__control">

  {{#if hasBlock}}

  {{else}}
    <input 
      disabled={{isDisabled}}
      required="{{isRequired}}"
      aria-describedby={{errorElementId}} 
      type="{{type}}" 
      id="{{formElementId}}" 
      class="slds-input" 
      placeholder={{placeholder}} />
  {{/if}}
{{!--
  <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left-right">
    <svg class="slds-input__icon slds-input__icon--left slds-icon-text-default" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
    </svg>
    <input type="search" id="text-input-01" class="slds-input" placeholder="Placeholder Text" />
    <button class="slds-input__icon slds-input__icon--right slds-button slds-button--icon">
      <svg class="slds-button__icon" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear"></use>
      </svg>
      <span class="slds-assistive-text">Clear</span>
    </button>
  </div>--}}

</div>