<button class="slds-button{{typeClass}}" disabled={{disabled}} {{action 'clicked'}}>
  {{#if shouldRenderLeftIcon}}
    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#{{icon}}"></use>
    </svg>
  {{/if}}
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
  {{#if shouldRenderRightIcon}}
    <svg class="slds-button__icon slds-button__icon--right" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#{{icon}}"></use>
    </svg>
  {{/if}}
</button>
