<button class="slds-button slds-button--neutral slds-{{state}}" aria-live="assertive" {{action 'pressed'}}>
  <span class="slds-text-not-selected">
    <svg class="slds-button__icon--stateful slds-button__icon--left" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
    </svg>{{notSelected}}
  </span>
  <span class="slds-text-selected">
    <svg class="slds-button__icon--stateful slds-button__icon--left" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
    </svg>{{selected}}
  </span>
  <span class="slds-text-selected-focus">
    <svg class="slds-button__icon--stateful slds-button__icon--left" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
    </svg>{{selectedFocus}}
  </span>
</button>