<label class="slds-form-element__label" for="{{formElementId}}">
  {{#if isRequired}}
    <abbr class="slds-required" title="required">*</abbr>
  {{/if}}
  {{label}}
</label>

{{yield (hash 
  input=(component 'slds-input' formElementId=formElementId errorElementId=errorElementId isRequired=isRequired)
  textarea=(component 'slds-textarea' formElementId=formElementId errorElementId=errorElementId)
)}}

{{#if isError}}
  <div id={{errorElementId}} class="slds-form-element__help">{{errorMessage}}</div>
{{/if}}