{{#slds-control-identity as |formElementId errorElementId|}}
  {{#if label}}
    <label class="slds-form-element__label" for={{formElementId}}>
      {{#if isRequired}}
        <abbr class="slds-required" title="required">*</abbr>
      {{/if}}
      {{label}}
    </label>
  {{/if}}

  {{yield (hash
    input=(component 'slds-control/input' formElementId=formElementId errorElementId=errorElementId isRequired=isRequired)
    checkbox=(component 'slds-control/checkbox' formElementId=formElementId errorElementId=errorElementId isRequired=isRequired)
    checkbox-toggle=(component 'slds-control/checkbox-toggle' formElementId=formElementId errorElementId=errorElementId)
    textarea=(component 'slds-control/textarea' formElementId=formElementId errorElementId=errorElementId)
    combobox=(component 'slds-control/combobox' formElementId=formElementId errorElementId=errorElementId)
    lookup=(component 'slds-control/lookup' formElementId=formElementId errorElementId=errorElementId)
    select=(component 'slds-control/select' formElementId=formElementId errorElementId=errorElementId)
  )}}

  {{#if isError}}
    <div id={{errorElementId}} class="slds-form-element__help">{{errorMessage}}</div>
  {{/if}}
{{/slds-control-identity}}