{{#if closed}}
  {{slds-button-icon 
    class='slds-notify__close'
    type='inverse' 
    title='Close' 
    sprite='utility' 
    icon='close'
    clicked=closed}}
{{/if}}

<span class="slds-assistive-text">{{theme}}</span>

{{#if hasBlock}}
  {{yield (hash
    icon=(component 'slds-icon' 
      sprite='utility' 
      icon='offline' 
      size='x-small' 
      class='slds-m-right_x-small' 
      color='none')
  )}}
{{else}}
  <h2>{{text}}</h2>
{{/if}}