<div class="slds-notify_container">
  <div class="slds-notify slds-notify--alert slds-theme--alert-texture" role="alert">
    {{slds-button-icon 
      class='slds-notify__close'
      type='inverse' 
      title='Close' 
      sprite='utility' 
      icon='close'
      }}
    <span class="slds-assistive-text">{{text}}</span>
    <h2>
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{text}}
      {{/if}}
    </h2>
  </div>
</div>