{{#if showBanner}}
  <div class="slds-notify_container">
    {{slds-alert text="You are in production!" theme='error'}}
  </div>
{{/if}}

{{slds-global-header class=(if showBanner 'is-showing-banner')}}

<main class="{{if showBanner 'is-showing-banner'}}">
  <div class="slds-is-absolute" style="left:0;right:0;width:45rem;margin-left:auto;margin-right:auto">
    {{#each flashMessages.queue as |flash|}}
      {{#flash-message flash=flash as |component flash|}}
        <div class="slds-notify_container slds-is-relative">
          {{#slds-toast theme=flash.type}}
            {{flash.message}}
          {{/slds-toast}}
        </div>
      {{/flash-message}}
    {{/each}}
  </div>

  {{#slds-navigation-bar applicationName='Lightning Examples' as |bar|}}
    {{#bar.menu text='Basic' as |dropdown|}}
      {{dropdown.header text="Buttons"}}
      {{dropdown.item text='Buttons' clicked=(route-action 'navigateTo' 'examples.button')}}
      {{dropdown.item text='Button Groups' clicked=(route-action 'navigateTo' 'examples.button-group')}}
      {{dropdown.item text='Button Icons' clicked=(route-action 'navigateTo' 'examples.button-icon')}}

      {{dropdown.separator}}

      {{dropdown.header text="Navigation"}}
      {{dropdown.item text='Breadcrumbs' clicked=(route-action 'navigateTo' 'examples.breadcrumb')}}
      {{dropdown.item text='Menus' clicked=(route-action 'navigateTo' 'examples.menu')}}

      {{dropdown.separator}}
      {{dropdown.header text="Images"}}
      {{dropdown.item text='Avatars' clicked=(route-action 'navigateTo' 'examples.avatar')}}
      {{dropdown.item text='Media' clicked=(route-action 'navigateTo' 'examples.media')}}
      {{dropdown.item text='Spinners' clicked=(route-action 'navigateTo' 'examples.spinner')}}

      {{dropdown.separator}}
      {{dropdown.header text="Other"}}
      {{dropdown.item text='Badges' clicked=(route-action 'navigateTo' 'examples.badge')}}
      {{dropdown.item text='Boxes' clicked=(route-action 'navigateTo' 'examples.box')}}
      {{dropdown.item text='Illustrations' clicked=(route-action 'navigateTo' 'examples.illustration')}}
    {{/bar.menu}}

    {{#bar.menu text='Navigation' as |dropdown|}}
      {{dropdown.item text='Global Header' clicked=(route-action 'navigateTo' 'examples.global-header')}}
      {{dropdown.item text='Navigation Bar' clicked=(route-action 'navigateTo' 'examples.navigation-bar')}}
      {{dropdown.item text='Navigation' clicked=(route-action 'navigateTo' 'examples.navigation')}}
    {{/bar.menu}}

    {{#bar.menu text='Forms' as |dropdown|}}
      {{dropdown.item text='Controls' clicked=(route-action 'navigateTo' 'examples.form-controls')}}
      {{dropdown.item text='Combobox' clicked=(route-action 'navigateTo' 'examples.combobox')}}
      {{dropdown.item text='Lookup' clicked=(route-action 'navigateTo' 'examples.lookup')}}
      {{dropdown.item text='Horizontal' clicked=(route-action 'navigateTo' 'examples.form-horizontal')}}
    {{/bar.menu}}

    {{#bar.item path='examples.icon'}}Icons{{/bar.item}}
    {{#bar.item path='examples.image'}}Images{{/bar.item}}
    {{#bar.item path='examples.modal'}}Modals{{/bar.item}}
    {{#bar.item path='examples.progress'}}Progress{{/bar.item}}
    {{#bar.item path='examples.toast'}}Toasts{{/bar.item}}
    {{#bar.item path='examples.alert'}}Alerts{{/bar.item}}
    {{#bar.item path='examples.page-header'}}Page Header{{/bar.item}}
    {{#bar.item path='examples.card'}}Cards{{/bar.item}}
    {{#bar.item path='examples.data-table'}}Data Tables{{/bar.item}}
    {{#bar.item path='examples.tab'}}Tabs{{/bar.item}}
    {{#bar.item path='examples.app-launcher'}}App Launcher{{/bar.item}}
  {{/slds-navigation-bar}}

  <div class="slds-p-around_medium slds-brand-band slds-brand-band_large">
    {{outlet}}
  </div>
</main>