{{#slds-control-identity as |formElementId|}}
  <span class="slds-radio">
    <input type="radio" id={{formElementId}} name={{name}} value={{value}} onclick={{selected}} aria-describedby={{errorElementId}}/>
    <label class="slds-radio__label" for={{formElementId}}>
      <span class="slds-radio--faux"></span>
      <span class="slds-form-element__label">{{label}}</span>
    </label>
  </span>
{{/slds-control-identity}}